{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principal Login</title>
    <link rel="stylesheet" href="{% static 'css/accounts/principal_login.css' %}">
</head>
<body>
    <form class="login-form" method="POST">
        {% csrf_token %}
        <p class="login-text">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-lock fa-stack-1x"></i>
            </span>
        </p>
        <input type="text" class="login-username" autofocus="true" required="true" name="username" placeholder="Username" />
        <input type="password" class="login-password" required="true" name="password" placeholder="Password" />
        <input type="submit" name="Login" value="Login" class="login-submit" />
    </form>
    <a href="{% url 'password_reset' 'principal' %}" class="login-forgot-pass">forgot password?</a>
    <div class="underlay-photo"></div>
    <div class="underlay-black"></div>
</body>
</html>