{% extends 'base.html' %}
{% load static %}
{% block title %}Register Teacher{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/accounts/teacher_register.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="teacher-register-wrapper">
  <div class="container">
      <h2>Teacher Registration</h2>
      <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">Register</button>
          <p>Already have an account? <a href="{% url 'teacher_login' %}">Login here</a></p>
      </form>
  </div>
</div>
{% endblock %}