{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock title %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/accountant/student_fee_form.css' %}">
{% endblock extra_css %}
{% block content %}
<div class="container">
    {% if messages %}
        {% for message in messages %}
            <div class="message {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <h2>Form</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
</div>
{% endblock %}
